@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --color-primary: #5FD4FF;
    --color-secondary: #0056B8;
    --text-dark: #2a2a2a;
    --white: #ffffff;
    --gradient: linear-gradient(90deg,#0056B8 0%, #5FD4FF 100% );
    --text-gradient:linear-gradient(90deg, #0056B8 0%, #5FD4FF 54%, #0056B8 100%);
}

#root {
    margin: 0px;
    padding: 0px;
    /* padding: 32px 0px 32px 0px; */
}

body {
    font-family: 'Inter',sans-serif;
    overflow-x: hidden;
}
.body-no-scroll {
  overflow: hidden;
}
.button-shadow {
    box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.40) inset;
}

.button-secondary-shadow {
  box-shadow: -1px 0px 1px 0px rgba(186, 186, 186, 0.25), 2px 2px 4px 0px rgba(186, 186, 186, 0.25) inset;
}

.button-secondary-shadow:hover {
  border-top: 2px #000;
  box-shadow: 1px 0px 1px 0px rgba(186, 186, 186, 0.25), -2px -2px 4px 0px rgba(186, 186, 186, 0.25) inset;
}

.nav-shadow {
    box-shadow: 0px -2px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.56) inset;
}

.sticker-shadow {
    box-shadow: -2px -2px 0px 0px rgba(255, 255, 255, 0.25) inset, 2px 2px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.buttonGroup-shadow {
    box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.inline-paragraph {
    color: #000;
    line-height: 1.5rem;
    position: relative;
    display: inline-block;
  }
  .inline-para {
    color: #FF6335;
    line-height: 1.5rem;
    position: relative;
    display: inline-block;
  }
  
  .inline-paragraph::after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('https://i.pinimg.com/originals/15/f0/81/15f081ca15aabca52f21604710b9fceb.gif');
    background-size: cover;
    margin-left: 0.5rem;
    vertical-align: middle;
  }
  .inline-para::after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('https://media.giphy.com/media/9YXqWG4p7xfBt6HSE7/giphy.gif');
    background-size: cover;
    margin-left: 0.5rem;
    vertical-align: middle;
  }
  
  .inline-first-btn, .inline-second-btn {
    display: inline-block;
    position: relative;
  }

.inline-first-btn::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('./assets/book.png');
    background-size: cover;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
  .inline-second-btn::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('./assets/rocket.png');
    background-size: cover;
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  .text-shadow {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.25);
  }
  .text-shadow:hover {
    text-shadow: none;
  }

  .say-hi-text {
    display: inline;
  }
  
  @media (max-width: 640px) { 
    .say-hi-text {
      display: none;
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    /* border-radius: 10px; */
  }

  ::-webkit-scrollbar-thumb {
    background: #2a2a2a; 
  border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
  }